p.none{border-style: none;}
p.dotted{border-style: dotted; color:firebrick}
h3.dashed{border-style: dashed; color:indianred}
p.solid{border-style: solid;}
p.double{border-style:double;}
p.groove{border-style: groove;}
p.ridge{border-style: ridge;}
p.inset{border-style: inset; color:aqua}
p.outset{border-style: outset; color: rgb(0, 0, 0);}
p.hidden{border-style: hidden;}